<!-- Form element in cart for adjusting quantity -->
<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-qty rounded-0" 
                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-qty rounded-0"
                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
            <!-- Update quanities of specific product options -->
            {% if item.product.has_customtext %}
                <input type="hidden" name="product_customtext" value="{{ item.customtext }}">
            {% endif %}
            {% if item.product.has_customtext2 %}
                <input type="hidden" name="product_customtext2" value="{{ item.customtext2 }}">
            {% endif %}
            {% if item.product.has_customtext3 %}
                <input type="hidden" name="product_customtext3" value="{{ item.customtext3 }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="update-link text-black"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>